@import '../../sass/variables';

.speaker-btn {
  width: 100%;
  font-size: 2.5rem;
  cursor: pointer;

  .speaker {
    border-radius: 4rem;
    border: 0.2rem solid $primary;
    padding: 0.5rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 3rem;
      height: 3rem;
      fill: $primary;
    }
  }
  .color {
    background-color: $primary;

    .icon {
      fill: $white;
    }
  }
}
